#Alert{
    color: black;
    background-color: rgb(241, 197, 204);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
	border: 1px gray solid;
	border-radius: 5;
	padding: 15px;
    margin-bottom: 10px;
    margin-right: 1.5rem;
}

#notice{
    color: black;
    background-color: #e5edc3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
	border: 1px gray solid;
	border-radius: 5;
	padding: 15px;
    margin-bottom: 10px;
    margin-right: 1.5rem;
}

.form-group{
    padding-left: 1em;
    padding-bottom: 0.25em;
}

.form-group input {
    margin-left: 9em;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #BC878A;
    font-size: 35px;
}

.form-group label{
    position: absolute;
}

.button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.buttonDiv{
    padding-left: 1em;

}

.Form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #44373f;
    font-size: 20px;
}