<div id= "Alert" *ngIf = "alert===true">
    Both name and number are needed!
</div>
<h2 class="title">Add a new contact</h2>
<div id= "notice" *ngIf = "notice===true">
   New contact was added!
</div>
<div class = "Form">
<form  
(ngSubmit) = "onSubmit()" >
    <div class="form-group">
        <label for='name'><strong>Name</strong></label>
        <input  required [(ngModel)]="person.name"
        type="text" name='name' #name="ngModel">  
        <br>  
        <label for='number'><strong>Number</strong></label>
        <input required [(ngModel)]="person.number"
        type = "text" name='number' #number="ngModel">
    </div>
    <div class="buttonDiv">
        <button class="button" type= "submit" >Add</button>
    </div>
</form>
</div>
