<h2 class="title">Contact list</h2>
<div class="buttonDiv">
    <button *ngIf="!sortState" class="button" (click)="sortMethodA()">Sorting ascendingly</button>
    <button *ngIf="sortState" class="button" (click)="sortMethodD()">Sorting descendingly</button>
</div>
<div class= "number-list">
    <ul *ngFor="let person of persons">
        <li>
            <span class = "name"><strong>{{ person.name }}:</strong></span>
            <span class = "number">{{person.number}}</span>
            <button class = "button" (click)="deletContact($event, person)" >Delete</button>
        </li>

    </ul>
</div>
