.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 3.7rem;
    /* text-shadow: 0.125rem 0.125rem 0.5rem #a1b1e3; */
    color: #44373f;
}

.content{
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding:0.3125rem;
    overflow-x: auto;
    justify-content: center;
  }
 

body {
    margin-bottom: 3.125rem;
    margin-top: 1.25rem;
    padding: 20px;
    /* background-color: lavender; */
    border: 6px #858494 solid;
    border-radius: 15px;
   }
